.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0, .5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background: #fff;
  padding: 2rem 4rem;
  border: 6px solid #fb5;
  box-shadow: 0 0 0 10px white;
  position: relative;
  width: 80vw;
  max-width: 50rem;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal .3s backwards;
}

.close {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 5rem;
  height: 5rem;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  background: #e54;
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.modal label {
  display: block;
  font-weight: bold;
  margin: 1.6rem 0 .8rem 0;
}

.modal input {
  width: 100%;
  padding: 1.2rem .8rem;
  border-radius: .4rem;
  border: none;
  outline: 2px solid #000;
}
.modal input:focus {
  outline: 2px solid #12121a;
}
.modal button[type="submit"] {
  display: block;
  background: #e54;
  border: none;
  border-radius: .4rem;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
  color: #fff;
  margin-top: 4rem;
  letter-spacing: .2rem;
  justify-self: end;
}